<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>약 비교</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/comparestyle.css">
</head>
<body>
<div class="container-fluid">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px;">
    <img src="/images/compare.png" style="height: 50px; margin-left: 30px">
    <div style="margin-right: 40px">
      <a th:href="@{/index}">
        <img src="/images/title.png" alt="약국맨" style="height: 20px;">
      </a>
      <a th:href="@{/mypage}" style="margin-left: 30px;">
        <img src="/images/myhome.png" alt="마이 홈" style="height: 20px;">
      </a>
    </div>
  </div>
  <table class="table table-bordered mt-4">
    <thead>
    <tr>
      <th>약</th>
      <th>이름</th>
      <th>가격</th>
      <th>성분</th>
      <th>효능</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="medicine : ${recentMedicines}">
      <td><img th:src="${medicine.mimage}" alt="약 이미지" style="width: 50px; height: auto;"/></td>
      <td th:text="${medicine.mname}">약 이름</td>
      <td th:text="${medicine.price} + 원">가격</td>
      <td th:text="${medicine.ingredients}">성분</td>
      <td th:text="${medicine.efficacy}">효능</td>
    </tr>
    </tbody>
  </table>
  <!-- 요약된 주의사항 추가 -->
  <div class="warning-text mt-4">
    ⚠️ 사용 전 반드시 주의사항을 확인하고, 부작용 시 사용을 중단하세요.
  </div>
</div>
</body>
</html>
